@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #404B69 inset !important;
    -webkit-text-fill-color: #DBEDF3;
}

@layer components {
    .ellipsis {
        text-overflow: ellipsis;
        display: inline-block;
        text-wrap: none;
        overflow: hidden;
    }
    .ellipsisTable {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: none;

    }
	.svg{
        -webkit-backface-visibility: hidden;
    }

    .transitionClass {
        transition-duration: 300ms;
        transition: ease-in-out;
        transition-delay: 150ms;
    }
    .noSelect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



}
input:focus,
select:focus,
textarea:focus,
button:focus,
span:focus{
    outline: none;
}
body {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
